*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	//background-color: #000;
	background-color: blue;

}

#header-nav{
	width: 100%;
	height: 50px;
	background-color: #f6b319;

}
a{
	text-decoration: none;
	color: aqua;
}
#header-nav span{
	float: left;
	color: white;
	font-weight: bolder; 
	margin: 10px 15px 5px 15px;
	padding: 2px;
}

#jumbotron{
	margin: 2px 2px 15px 2px; 
	width: 100%;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 5px 1px #cccccc;
	background: url(../images/jumbo.jpg) no-repeat;
	background-position: center;
	position: relative;
}

#main-title{
	position: absolute;
	color: #fff;
	top: 100px;
	left: 50px;
}
#main-title h2{
	color: yellow;
	font-style: italic;
}

.container-tile{
	clear: both;
	
}

.title-tile{
	height: 300px;
	width: 22%;
	//border-radius: 10px;
	margin-left: 5px;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	float: left;
}

.title-tile:hover {
	font-size: 1.2em;
	transition: 0.5s;
}

.title-tile span {
	position: absolute;
	width: 100%;
	top: 20px;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #ff0;
	font-style: italic;
	font-weight: bolder;
}

#gym-tile, #indoor-tile, #club-tile, 
#attr1-tile, #attr2-tile, #attr3-tile {
	height: 300px;
	width: 25%;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	float: left;
}

ul{
	margin: 60px 0px 0px 60px;
	padding: 10px;
	font-weight: bolder;
	font-size: 19px;
	font-style: italic;
	color: aqua;"
}

#gym-tile:hover, #indoor-tile:hover, #club-tile:hover, 
#attr1-tile:hover, #attr2-tile:hover, #attr3-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}


#gym-tile{
	background: url(../images/gym.jpg) no-repeat;
	background-position: center;
}
#indoor-tile{
	background: url(../images/indoor.jpg) no-repeat;
	background-position: center;
}
#club-tile{
	background: url(../images/club.jpg) no-repeat;
	background-position: center;
}

#attr1-tile{
	background: url(../images/mirjumala.jpg) no-repeat;
	background-position: center;
}
#attr2-tile{
	background: url(../images/kamakhaya.jpg) no-repeat;
	background-position: center;
}
#attr3-tile{
	background: url(../images/river.jpg) no-repeat;
	background-position: center;
}
#gym-tile span, #indoor-tile span, #club-tile span, #attr1-tile span, #attr2-tile span, #attr3-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: 0.6;
}



#about-hsm{
	clear: both;
	margin: 0px 15px 15px 15px;
}

#about-hsm article{
	padding: 10px;
	color: #fff;
	font-size: 19px;
}

article > h2, h3{
	padding: 10px;
	color: #ff0;
	font-style: italic;
	text-transform: uppercase;
}

article > h2{
	text-align: center;
	font-style: normal;
}

#map-container{
	margin: 0px 100px 15px;
}

#map-tile{
	height: 400px;
	width: 40%;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	float: right;
}

#map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: 0.6;
}


#home-page-details{
	 margin-left: 50px;
}
#home-page-details-video-tile{
	height:450px;
	width: 56%;
	border: 1px solid black;
	float: left;
	margin: 15px 25px;
	border-radius: 12px;
	overflow: hidden;
}


#home-page-details-section{
	width: 40%;
	float: right;
	margin-bottom: 30px;
	font-size: 18px;
	padding: 20px;
	font-weight: bolder;
}

.details-section-span-name{
	color: yellow;
	margin-left: 30px; 
}
.details-section-span-value{
	font-style: italic;
	float: right;
	margin-right: 60px;
	color: aqua;
}






#go-back-top{
	clear: both;
	float: right;
	padding: 0px 20px 5px 0px;
}
#go-back-top a{
	color: red;
}


footer{
	background-color: grey;
	height: 400px;
	clear: both;
	position: relative;
}

#footer-tile1, #footer-tile2, #footer-tile3{
	width: 33.33%;
	float: left;
	color: aqua;
	//border: 1px solid white; 
	padding: 10px;
	text-align: center;
}

#footer-tile1{
	font-style: italic;
	color: yellow;
}

#footer-tile2 a{
	color: aqua;
	text-decoration: none;
}

#footer-copyright{
	clear: both;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: #000;
	text-align: center;
	color: aqua;
	opacity: 0.8;
}
#profile-image{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin: 5px 38% 5px;
	position: relative;
	border: 1px solid #3F0C1F;
	overflow: hidden;
	background: url(../images/profile.jpg) no-repeat;
	background-position: center;
}

#profile-image:hover {
	box-shadow: 0px 1px 5px 5px black;
}
#profile-image span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: 0.4;
}
#footer-tile3 span{
	font-size: 18px;
	font-weight: bolder;
}

#footer-tile3 {
	position: relative;	
}
}
.middle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.btn{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #f1f1f1;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px blue;
	color: #3498db;
	overflow: hidden;
	position: relative;
}

.btn i{
	line-height: 35px;
	font-size: 26px;
	transition: 0.2s linear;
}

.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;
	}
	50%{
		left: 10%;
		top: -30%;
	}
	100%{
		top: -10%;
		left: -10%;
	}
}
